.mision{
    width: 100%;
    min-height: 69vh;
    background: url("../../assets/imagenstock.png");
    background-size: cover;
    background-position: center;
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mision-text{
    text-align: left;
    max-width: 600px;
}
.mision-text h1{
    font-size: 40px;
    font-weight: 600;
}

/* ----- media query ---------- */

@media (max-width: 850px){
    .mision-text h1{
        font-size: 40px;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .mision-text h3{
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 500px){
    .mision-text h1{
        font-size: 35px;
        max-width: 400px;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .mision-text h3{
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
    }
}