.footer{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979;
    padding: 15px 0;
    width: 87.3%;
}
.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

/* ----- media query ---------- */

@media (max-width: 850px){
    .footer{
        margin-top: 160px;
    }
    .footer ul li{
        margin: 10px;
    }
    .footer ul{
        margin-top: 10px;
    }
}

@media (max-width: 500px){
    .footer{
        margin-top: 548px;
    }
    .footer ul li{
        margin: 10px;
    }
    .footer ul{
        margin-top: -5px;
        margin-left: 80px;
    }
    .footer p{
        margin-top: -20px;
    }
}